body{background-color:darkgoldenrod;
border: solid;
}
h2{
    color: white;
}



header{
    background-color: darkblue;
    display: grid;
    justify-items: center;
    
    }
    

#sobremi{
    color: yellow;
}

h2{
    font-size: 37px;
}

p{
    font-size: 20px;
}

li{
    font-size: 20px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

.contenedor{
width: 80%;
max-width: 1000px;
margin: 0 auto;
overflow: hidden;
background-color: black;
}
#nombre{
    margin: 0;
    
    font-size: 60px;
}
#subtitulo{
    margin: 0;
    
    font-size: 35px;
}


footer{
    background-color: black;
    color: white;
    margin: 0;
    display: grid;
    justify-items: center;
}

#fotoperfil{
    
    width: 160px;
    height: 160px;
}



#logos{
    font-size: 50px;
    background-color: darkblue;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    
}



 

#logoemail::before{
    opacity: 1;
}

#logoemail:hover::before{
    
    content: attr(data-content);
    opacity: 1;
    font-size: 25px;

}


#logotelefono::before{
    opacity: 1;
}

#logotelefono:hover::before{
    content: attr(data-content);
    opacity: 1;
    font-size: 25px;
    

}

#logoubicacion::before{
    opacity: 1;
}

#logoubicacion:hover::before{
    content: attr(data-content);
    opacity: 1;
    font-size: 25px;
    

}

#logonacimiento::before{
    opacity: 1;
}

#logonacimiento:hover::before{
    content: attr(data-content);
    opacity: 1;
    font-size: 25px;}


    .navegador ul{
        list-style: none;
        text-align: center;
        background-color: darkblue;
        padding-top: 8px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 16px;
}

.navegador li{
display: inline-block;
}

.navegador a{
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;
    transition: .5s;

}



a:hover{
    background-color: black;
}

